/* Color Palette
https: //colorpalettegenerator.io/palette/slate-color-palette/#colors
https: //www.w3schools.com/Css/css_navbar_vertical.asp
# - color 1 : #8B94A5 --> for navbar background
# - color 2 : #687387 --> hero background color
# - color 3 : #606060 --> section background
# - color 4 : #BECBD6 --> footer background
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

/* Global styles 
------------------------------------*/
html,
body {
    /*background: lightblue;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex';
}


/* Header & Footer 
------------------------------------*/
header {
    background-color: #8B94A5;
}

header img {
    width: 100px;
    height: 50px;
}

/* Work Experience
------------------------------------*/
.work-experience {
    background-color: #687387;
}

.work-experience h2 p ul {
    font-weight: 400;
}


/* Education
------------------------------------*/
.education {
    background-color: #606060;
}

.education {
    background-color: #687387;
}

.education h2 p {
    font-weight: 400;
}

/* Footer
------------------------------------*/
footer {
    background-color: #8B94A5;
}

footer a p {
    font-weight: 400;
}